<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/playGame">Play</router-link> |
    <router-link to="/helpPage">Help</router-link>
  </nav>
  <router-view/>
</template>

<style>

h1{
  font-size: 50px;
  font-family: Helvetica;
  font-weight: bold;
  color: chocolate;
}
h2{
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: chocolate;
  padding-left: 30px;
  padding-right: 30px;
}
h3{
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  color: chocolate;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: chocolate;
}
a:hover{
  color: crimson;
  font-weight: bold;
  /*text-transform:uppercase;*/
}
</style>
