<div>

  <div *ngFor="let row of grid" class="fila">
    <div *ngFor="let cell of row" class="cel-la"
         [class.wall]="cell==='wall'"
         [class.pacman]="cell==='pacman'"
         [class.ghost]="cell==='ghost'"
         [class.fruita]="cell==='fruita'"
         [class.empty]="cell === ''" >
    </div>
  </div>

  <!-- mostrar puntuació -->

</div>
