<h1> REGISTER</h1>
<br>
<div class="contenido">
  <div class="form-floating">
    <form [formGroup]="registerForm" #formDir="ngForm">


      <label for="id">ID</label>
      <input type="email" id="id" name="id" placeholder="ID"
             formControlName="id" required>
      <div *ngIf="id?.invalid && (id?.dirty || id?.touched)"
           class="error">
        <div *ngIf="id?.errors?.['required']">
          Usuario obligado
        </div>
        <div *ngIf="id?.errors?.['minlength']">
          Usuario mínimo 2 dígitos.
        </div>

      </div>
      <br>


      <!--EMAIL -->
      <label for="nom">Email:</label>
      <input type="email" id="nom" name="nom" placeholder="Nom"
             formControlName="nom" required>
      <div *ngIf="nom?.invalid && (nom?.dirty || nom?.touched)"
           class="error">
        <div *ngIf="nom?.errors?.['required']">
          Usuario obligado
        </div>
        <div *ngIf="nom?.errors?.['minlength']">
          Usuario mínimo 7 dígitos.
        </div>
        <div *ngIf="nom?.errors?.['emailFormat']">
          <b>INCORRECTO:</b> cuenta no es @ies-sabadell.cat
        </div>
        <div *ngIf="nom?.errors?.['email']">
          Formato email <b>INCORRECTO</b>.
        </div>
      </div>
      <br>


      <!--PASSWORD -->
      <label for="nom">Password:</label>
      <input type="password" placeholder="Password"
             formControlName="password" required>

      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
           class="error">
        <div *ngIf="password?.errors?.['required']">
          Password requerido.
        </div>
        <div *ngIf="password?.errors?.['passwordStrength']">
          Mínimo 8 carácteres, mayúsculas, minúsculas y los carácteres especiales "_" o "-"
        </div>
      </div>
      <br>
      <button [disabled]="!registerForm .valid" (click)="postRegister()">REGISTER</button>
    </form>
    <p [ngClass]="{'respuesta-correcta': !error, 'respuesta-incorrecta': error}">{{message}}</p>
  </div>
</div>
