<form [formGroup]="registerUser">
    <input type="text" id="id" name="id" placeholder="Identificador de l'usuari" formControlName="id"><br/>
    <input type="text" id="nom" name="nom" placeholder="Nom" formControlName="nom"><br/>
    <input type="text" id="password" name="password" placeholder="Contrasenya" formControlName="password"><br/>
    <button type="button" (click)="registerUserFunction()">Registre</button>
</form>


<p>{{message}}</p>
