<h1> AYUDA </h1>
<div class="fondo">

  <div class="contenido">
    <h2>Reglas del juego</h2>
    <br>
    <p style="font-weight: bold;"> Pasea por todo el tablero con PACMAN</p>
    <div class="imagenContainer">
      <img src="/assets/game/pacman.png" alt="pacman" style="max-height: 200px">
    </div>
    <br><br><br>
    <p style="font-weight: bolder; color:red;"> Que no te toquen los fantasmas!!!</p>
    <div class="imagenContainer">
      <img src="/assets/game/f1.png" alt="fantasma" style="max-height: 200px">
    </div>
    <br><br><br>
    <p style="font-weight: bolder; color:green;"> Conseguirás la victoria si comes todos los puntos</p>
    <div class="imagenContainer">
      <img src="/assets/game/empty.png" alt="puntos" style="max-height: 200px">
    </div>
  </div>
</div>
