<template>
  <h1> HELP </h1>
  <br>
  <h2> Instrucciones </h2>

  <div class="container">
    <h3 class="text-center mb-4">ITEMS</h3>
<!--    <hr style="border-color: chocolate">-->
    <div class="row">
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mb-4">
        <img src="../assets/jugador.png" alt="jugador">
        <p>JUGADOR</p>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mb-4">
        <img src="../assets/cajas.png" alt="cajas">
        <p>CAJAS</p>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mb-4">
        <img src="../assets/destino.png" alt="destino">
        <p>DESTINO</p>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mb-4">
        <img src="../assets/bloques.png" alt="muro">
        <p>MUROS</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p> Sólo puede moverse de casilla en casilla arriba abajo izquierda o derecha <b>(no puede en diagonal)</b></p>
      </div>
      <div class="col-md-3">
        <p> Debes empujar las cajas hacia una casilla destino para cumplir tu misión</p>
      </div>
      <div class="col-md-3">
        <p> Es la casilla donde debes meter las cajas. Sólo puedes meter una caja por casilla. No puedes pasar por encima de ellas moviéndote</p>
      </div>
      <div class="col-md-3">
        <p> Estas casillas no pueden ser atravesadas por el <b>jugador</b> ni por las <b>cajas</b></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'helpPage'
}
</script>

<style scoped>
</style>
<custom>
Es un lugar para documentar
</custom>
