<template>
  <!-- afegir informació prèvia pertinent -->
  <h1> PLAY GAME </h1>
  <!-- dibuixar tauler - Codi d'ajuda: -->
  <br/>
  <div class="row" >
    <div class="col-md-8" >
      <!--     2/3 -->
      <div v-for="(fila, i) in board" :key="i" class="container d-flex centrar">
        <div v-for="(cell, j) in fila" :key="j" class="col-1 pt-3 pb-3"
             :class="{   pared: cell == '#',
                     caja: cell == 'C',
                     jugador: cell == 'J',
                     desti: cell == '$',
                     vacio: cell =='.',
                     meta: cell =='M',
                     equis: cell =='X',
                     win: cell == '@',
                     other: !['#', 'C', 'J', '$', '.', 'M', 'X', '@'].includes(cell)
            }"
             @click="moureJugador(i, j)">
          {{ cell }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!--     1/3 -->
      <h2>Objetivos cumplidos</h2>

      <p id="objetivos">0/4</p><br><br>

      <button class="botoncito" @click="reiniciar()">Reiniciar tablero</button>

    </div>
  </div>

</template>

<script>
/* eslint-disable */
export default {
  name: 'playGame',
  data () {
    return {
      /* penseu si cal, o no, ubicar al Jugador "J" en alguna posició per defecte */
      board: [
        ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
        ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
      ],
      posicioJ: [5, 4],
      destino: 4,
      destinoTotal: 4
    }
    /* afegir més dades segons les necessitats que detecteu */
  },
  created () {
    this.crearTauler() //aleatorio

  },
  methods: {

    crearTauler () {

      let random = Math.floor(Math.random() * 5)  /* genera un random */
      console.log('el tablero elegido es el numero ' + random)
      switch (random) {
        case 0:

          this.posicioJ = [5, 4]
          this.destino = 4
          this.destinoTotal = 4


          this.board = [
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
            ['#', '.', '#', '.', '.', '.', '#', '.', '.', '.', '.', '#'],
            ['#', '$', '#', '.', '.', '#', '#', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '$', '.', '.', '.', '.', '#'],
            ['#', '.', 'C', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', 'J', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '$', '.', 'C', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '.', 'C', '.', '.', '#'],
            ['#', '.', '.', 'C', '.', '#', '.', '.', '.', '$', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
          ]
          break

        case 1:

          this.posicioJ = [7, 8]
          this.destino = 4
          this.destinoTotal=4

          this.board = [
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
            ['#', '.', '#', '.', '.', '.', '#', '.', '.', '.', '.', '#'],
            ['#', '.', '#', '.', '#', '.', '#', '.', '.', '.', '.', '#'],
            ['#', '.', '#', '.', '#', '.', '$', '.', '$', '.', '.', '#'],
            ['#', '.', 'C', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '$', '.', '$', '.', '.', 'J', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '.', 'C', '.', '.', '#'],
            ['#', '.', '.', 'C', '.', '#', '.', '.', '.', 'C', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
          ]
          break

        case 2:

          this.posicioJ = [1, 2]
          this.destino = 4
          this.destinoTotal =4;

          this.board = [
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
            ['#', '.', 'J', '#', '#', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '.', 'C', '.', '.', '#', '.', '.', 'C', '.', '.', '#'],
            ['#', '.', '.', '#', '.', '.', '.', '.', '#', '.', '.', '#'],
            ['#', '#', '.', '.', '.', '$', '.', '.', '.', '#', '.', '#'],
            ['#', '#', '.', '.', '.', '.', '.', '.', '.', '#', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '#', '.', '#', '#', '#'],
            ['#', '.', '.', 'C', '.', '.', '.', '.', '.', '.', '$', '#'],
            ['#', '.', '#', '.', '.', '.', '$', '#', '.', '.', '.', '#'],
            ['#', '.', '#', '.', '.', '.', '.', '.', 'C', '.', '.', '#'],
            ['#', '#', '$', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
          ]
          break

        case 3:

          this.posicioJ = [10, 1]
          this.destino = 5
          this.destinoTotal =5
          this.board = [

            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
            ['#', '.', '.', '#', '.', '.', '$', '.', '.', '.', '.', '#'],
            ['#', '#', '.', '.', 'C', '.', '.', '.', '#', 'C', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '.', '#', '.', '.', '#'],
            ['#', '.', 'C', '.', '.', '#', '.', '.', '#', '#', '#', '#'],
            ['#', '$', '.', '#', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '#', '#', '.', '#', '.', 'C', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '#', '#', '.', '$', '#'],
            ['#', '.', 'C', '#', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '#', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', 'J', '.', '.', '.', '#', '$', '.', '$', '.', '.', '#'],
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
          ]
          break
        case 4:

          this.posicioJ = [1, 9]
          this.destino = 5
          this.destinoTotal = 5

          this.board = [
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#'],
            ['#', '#', '#', '.', '.', '.', '#', '.', '.', 'J', '$', '#'],
            ['#', '.', '#', '.', '#', 'C', '#', '.', '.', '.', '.', '#'],
            ['#', '.', '#', '.', '#', '.', '$', '.', '$', '.', '.', '#'],
            ['#', '.', 'C', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '#', '#', '#', '.', '.', '.', '.', '.', '#', '#'],
            ['#', '.', '.', '$', '.', '$', '.', '.', '.', '.', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '#', '#', 'C', '.', '.', '#'],
            ['#', '.', '.', 'C', '.', '#', '.', '.', '.', 'C', '.', '#'],
            ['#', '.', '.', '.', '.', '#', '.', '.', '.', '.', '.', '#'],
            ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
          ]
      }

     // this.actualizarMarcador()   // por qué no me funciona esta función?? se me ve la pantalla en blanco....
    },

    moureJugador (i, j) {
      //escriure aquí el codi

      console.log('Posiciones: (i, j) = ' + i + ', ' + j)

      if (this.validarMoviment(i, j)) {
        console.log('validarMoviment == true')
        // es pared???
        if (this.esPared(i, j)) {
          console.log('sí, es pared, NO PUEDES MOVER')
          // no puedes mover
        } else {
          console.log('no es pared')
          // es caja ??
          if (this.esCaja(i, j)) {
            console.log('es caja')
            // mirar por dónde le viene el Jugador y mirar si se puede mover la caja a la siguiente casilla
            if (i === this.posicioJ[0] - 1) {
              //Jugador empuja ARRIBA
              console.log('SUBIENDO POSICIONES')
              if (this.esPared(i - 1, j) || this.esCaja(i - 1, j)) {
                console.log('ARRIBA HAY OBSTACULOS')
                //no hagas nada
              } else {
                console.log('ARRIBA NO HAY PARED')
                //mirar si es destino
                if (this.esDestino(i - 1, j)) {
                  // TODO MOVIDAS DE DESTINO

                  this.board[i - 1][j] = 'M'
                  this.board[i][j] = 'J'
                  this.board[i + 1][j] = '.'
                  this.posicioJ = [i, j]
                  this.hasGanado()
                } else {
                  //cambiar posiciones de jugador,
                  // this.posicioJ = [i,j];
                  this.board[i - 1][j] = 'C'
                  this.board[i][j] = 'J'
                  this.board[i + 1][j] = '.'
                  this.posicioJ = [i, j]

                }
              }
            } else if (i === this.posicioJ[0] + 1) {
              //Jugador empuja ABAJO
              console.log('BAJANDO POSICIONES')
              if (this.esPared(i + 1, j) || this.esCaja(i + 1, j)) {
                console.log('ABAJO HAY OBSTACULOS')
                //no hagas nada
              } else {
                console.log('ABAJO NO HAY PARED')
                //mirar si es destino
                if (this.esDestino(i + 1, j)) {
                  // TODO MOVIDAS DE DESTINO

                  this.board[i + 1][j] = 'M'
                  this.board[i][j] = 'J'
                  this.board[i - 1][j] = '.'
                  this.posicioJ = [i, j]
                  this.hasGanado()
                } else {
                  //cambiar posiciones de jugador,
                  // this.posicioJ = [i,j];
                  this.board[i + 1][j] = 'C'
                  this.board[i][j] = 'J'
                  this.board[i - 1][j] = '.'
                  this.posicioJ = [i, j]

                }
              }
            } else if (j === this.posicioJ[1] + 1) {

              //Jugador empuja DERECHA
              console.log('MOVING DERECHA')
              if (this.esPared(i, j + 1) || this.esCaja(i, j + 1)) {
                console.log('DERECHA HAY OBSTACULOS')
                //no hagas nada
              } else {
                console.log('DERECHA NO HAY PARED')
                //mirar si es destino
                if (this.esDestino(i, j + 1)) {
                  // TODO MOVIDAS DE DESTINO

                  this.board[i][j + 1] = 'M'
                  this.board[i][j] = 'J'
                  this.board[i][j - 1] = '.'
                  this.posicioJ = [i, j]
                  this.hasGanado()
                } else {
                  //cambiar posiciones de jugador,
                  // this.posicioJ = [i,j];
                  this.board[i][j + 1] = 'C'
                  this.board[i][j] = 'J'
                  this.board[i][j - 1] = '.'
                  this.posicioJ = [i, j]

                }
              }

            } else if (j === this.posicioJ[1] - 1) {

              //Jugador empuja IZQUIERDA
              console.log('MOVING IZQUIERDA')
              if (this.esPared(i, j - 1) || this.esCaja(i, j - 1)) {
                console.log('IZQUIERDA HAY OBSTACULOS')
                //no hagas nada
              } else {
                console.log('IZQUIERDA NO HAY PARED')
                //mirar si es destino
                if (this.esDestino(i, j - 1)) {
                  // TODO MOVIDAS DE DESTINO

                  this.board[i][j - 1] = 'M'
                  this.board[i][j] = 'J'
                  this.board[i][j + 1] = '.'
                  this.posicioJ = [i, j]
                  this.hasGanado()
                } else {
                  //cambiar posiciones de jugador,
                  // this.posicioJ = [i,j];
                  this.board[i][j - 1] = 'C'
                  this.board[i][j] = 'J'
                  this.board[i][j + 1] = '.'
                  this.posicioJ = [i, j]

                }
              }
            }

            // si se puede mover la caja a nuevaPoscion
            // mirar si es destino
            // si es destino eliminar el destino de la lista
            // inmovilizar la caja
            // cambiar jugador a nueva Posicion
          } else if (this.esDestino(i, j) || this.board[i][j] === 'M') {
            // no muevas

          } else {
            this.board[i][j] = 'J'
            this.board[this.posicioJ[0]][this.posicioJ[1]] = '.'
            this.posicioJ = [i, j]

          }

        }

      }

    },/* afegir més funcions segons les necessitats que detecteu */
    validarMoviment (i, j) {
      if ((i === this.posicioJ[0] + 1 || i === this.posicioJ[0] - 1) && j === this.posicioJ[1]) {
        return true
      } else if (i === this.posicioJ[0] && (j === this.posicioJ[1] + 1 || j === this.posicioJ[1] - 1)) {
        return true
      } else {
        return false
      }
    },
    esCaja (i, j) {
      if (this.board[i][j] === 'C') {
        return true
      } else {
        return false
      }
    },
    esPared (i, j) {
      if (this.board[i][j] === '#') {
        return true
      } else {
        return false
      }
    },
    esDestino (i, j) {
      if (this.board[i][j] === '$') {
        return true
      } else {
        return false
      }
    },
    hasGanado () {
      this.destino--
      const objetivosCumplidos = document.getElementById('objetivos')
      objetivosCumplidos.innerText = this.destinoTotal - this.destino+'/'+this.destinoTotal

      if (this.destino == 0) {
        this.board = [
          ['@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'Y', 'O', 'U', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'W', 'I', 'N', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', '@'],
          ['@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@', '@']
        ]
      }
    },
    reiniciar () {
      this.crearTauler()
      this.actualizarMarcador()
    },
    actualizarMarcador () {
      const objetivosCumplidos = document.getElementById('objetivos')
      objetivosCumplidos.innerText = this.destinoTotal - this.destino+'/'+this.destinoTotal
    }

  }
}
</script>

<style scoped>
#objetivos{
  margin-top: 50px;
  font-family: "Arial Black";
  font-size: 30px;
}

.other {
  width: 60px;
  height: 60px;
  background-color: yellow;
  color: deeppink;
  font-weight: bold;
}

.win {
  width: 60px;
  height: 60px;
  background-color: deeppink;
  color: deeppink;
  font-weight: bold;
}

.equis {
  width: 60px;
  height: 60px;
  background-color: yellow;
  color: yellow;
  font-weight: bold;
}

.pared {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-color: #3a1f1b;
  color: #3a1f1b;
}

.caja {
  /*border-radius: 10px;*/
  width: 60px;
  height: 60px;
  background-color: sandybrown;
  color: sandybrown;
  border: 3px solid saddlebrown;

}

.jugador {
  border-radius: 40px;
  width: 60px;
  height: 60px;
  background-color: cadetblue;
  color: cadetblue;
  font-weight: bold;
  font-size: large;
}

.desti {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: yellow;
  color: deeppink;
  font-weight: bold;
}

.meta {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: red;
  color: red;
  font-weight: bold;
}

.vacio {

  width: 60px;
  height: 60px;
  background-color: white;
  color: white;
}

.centrar {
  display: flex;
  justify-content: center;
}

.botoncito {
  background-color: chocolate;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 15px;
}
</style>
