<template>
  <h1> SOKOBAN </h1>
  <br>
  <h2>¡Bienvenido al Sokoban!</h2>
  <div class="container fondo">
    <div class="fondoP">
      <p>El <span style="color: chocolate; font-weight: bold">Sokoban</span> es un juego de rompecabezas en el que tienes que <b>mover cajas</b> y <b>colocarlas en su destino</b>. Tu tarea es
        empujar las cajas al lugar correcto, sin quedar atrapado en un rincón. <b>¡Parece fácil, pero es más difícil de lo
        que parece!</b></p>
      <p style="font-size: 20px; color: chocolate; font-weight: bold">¡Diviértete jugando y buena suerte!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sokobanMain'
}
</script>

<style scoped>

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.fondoP {
  background-color: white;
  padding: 20px;
  margin:20px
}
</style>
