<h1>INICIO</h1>
<div class="fondo">

  <div class="contenido">
    <h2>Historia de Pacman</h2>
    <p><b>Pacman</b>, también conocido como <b style="color:black">"comecocos"</b> en algunos países, fue lanzado en 1980 por la empresa japonesa <b>Namco.</b>
      El juego fue creado por el diseñador de videojuegos <b style="color:black">Toru Iwatani</b>, quien se inspiró en la forma de una pizza con
      una porción faltante para diseñar al personaje principal, <b>Pacman.</b> El objetivo era crear un juego que atrajera
      tanto a hombres como mujeres.</p>
    <p>La historia cuenta que <b style="color:black">Toru Iwatani</b>, en busca de un concepto de juego único, decidió basarse en la comida como
      tema central. Observando cómo las pizzas tenían una forma circular con una porción faltante, ideó la idea de un
      personaje que se asemejara a esa forma. Así nació el icónico <b>Pacman,</b> un personaje redondo con una boca
      abierta.</p>
    <div class="imagenContainer">
      <img src="/assets/game/d9419a871ad1b0463040c60bfb14f57a.jpg" alt="Segunda imagen" style="max-height: 200px">
    </div>
    <h2>Impacto en la cultura pop</h2>
    <p><b>Pacman</b> se convirtió rápidamente en un fenómeno de la cultura pop, influyendo en la industria del
      entretenimiento y dejando una marca indeleble en el mundo de los videojuegos. El juego tuvo un gran éxito en los
      arcades y fue uno de los primeros personajes reconocibles en la industria de los videojuegos.</p>
    <p><b style="color:black">Namco,</b> la compañía detrás de <b>Pacman,</b> fue una de las pioneras en la industria de los videojuegos en Japón. El
      lanzamiento de <b>Pacman</b> marcó un hito en la historia de la empresa y contribuyó al éxito mundial de <b style="color:black">Namco</b> en el
      campo de los videojuegos.</p>
    <p>Además, <b>Pacman</b> se convirtió en un ícono de la década de 1980, apareciendo en numerosos productos de
      merchandising, como camisetas, juguetes y dibujos animados. El personaje amarillo y su distintivo sonido de
      "waka waka" se hicieron famosos en todo el mundo.</p>
    <p>Hasta el día de hoy, <b>Pacman</b> sigue siendo un juego popular y ha sido adaptado a múltiples plataformas y
      versiones. <b style="color:black">Su simplicidad, jugabilidad adictiva y personajes carismáticos lo convierten en un clásico atemporal
      de la industria de los videojuegos</b>.</p>

    <div class="imagenContainer">
      <img src="/assets/game/13eedfc3f6e39fb09c77ca7de630f972.jpg" alt="Imagen de Pacman" class="pacman-image">
    </div>
  </div>


</div>



