
<div id="htmlData"class="fondo">
  <h1>RANKING</h1>

  <div class="contenido">
    <div class="boton-container">
      <button class="buttonRanking" type="button" (click)="getRanking()">RANKING</button>
      <br/>
    </div>

    <div *ngIf="data" class="table-container">
      <table class="centered-table">
        <tr>
          <th>Id</th>
          <th>IdUser</th>
          <th>Puntos</th>
        </tr>

        <!-- Filas de datos del ranking se generan con un bucle foreach con la "data" (nos la trae el [*.component.ts]) que hemos recibido de la api-->
        <tr *ngFor="let puntuacio of data">
          <td>{{puntuacio['idclassificacio']}}</td>
          <td>{{puntuacio['idUser']}}</td>
          <td>{{puntuacio['punts']}}</td>
        </tr>
      </table>
    </div>

    <!-- Botón para generar un informe en PDF del ranking -->
    <div class="boton-container">
      <button class="buttonRanking" type="button" (click)="downloadPDF()">Generar Informe RANKING</button>
    </div>
  </div>
</div>
