<h1> JUEGO</h1>
<div class="contenido">
  <br/>
  <div *ngFor="let row of grid" class="fila">
    <div *ngFor="let cell of row" class="cel-la"
         [class.wall]="cell==='wall'"
         [class.pacman]="cell==='pacman'"
         [class.ghost]="cell==='ghost'"
         [class.fruita]="cell==='fruita'"
         [class.empty]="cell === ''"
         [class.muerte]="cell==='muerte'">
    </div>
  </div>

  <!-- mostrar puntuació -->
  <p *ngIf="haveYouWin" class="mensaje-ganador">
    YOU WIN
  </p>
  <p *ngIf="isGameOver" class="mensaje-perdedor">
    GAME OVER
  </p>
  <p class="puntuacion">
    Puntuación del jugador: <span style="font-size: 25px; font-weight: bold"> {{ puntos }}</span>  pts
  </p>


    <!-- Sección para elegir dificultad -->
    <div class="dificultad-container">
      dificultad  <select class="dificultad-select" [(ngModel)]="dificultad" (change)="cambiarDificultad()">
        <option value="facil">Fácil</option>
        <option value="media">Media</option>
        <option value="dificil">Difícil</option>
        <option value="expert">Experto</option>
      </select>
    </div>

    <!-- Botón para jugar de nuevo -->
    <div class="reiniciar-container">
      <button class="reiniciar-button" (click)="reiniciarJuego()">Jugar de nuevo</button>
    </div>



</div>
