
<input type="text" id="usuari" [formControl]="usuari"><br/>
<input type="text" id="contrasenya" [formControl]="contrasenya"><br/>

<ul>
  <li *ngFor="let user of data">
    <div>
      <p>Id: {{ user['id'] }}</p>
      <p>Nom:  {{ user['nom'] }}</p>
      <p>Contrasenya: {{ user['password'] }}</p>
    </div>
  </li>
</ul>

<button type="button" (click)="checkUserFunction()">Login</button>


